@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: Poppins;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 240, 246);
    overflow-y: hidden;
}

.dashboard {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 6px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #FF3700, #ffcc00) border-box;
}

/* -------------------------------- SIDE BAR -------------------------------------- */


.side-bar {
    width: 15%;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-top: 3%;
    width: 80%;
    height: 55%;
    margin-right: 3%;
    object-fit: cover;
    filter: contrast(1.05) brightness(1.05);
}

.links {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 25px;
}

.icone-links {
    width: 75%;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 6%;
    color: rgb(71, 71, 71);
    cursor: pointer;
    background: linear-gradient(90deg, #FF3700, #ffcc00);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.5s ease-in-out, color 0.3s ease-in-out;
}

.links a:hover {
    background-size: 100% 100%;
    color: white;
}

.links i {
    margin-left: 7%;
}

.activate {
    width: 75%;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 6%;
    background: linear-gradient(90deg, #FF3700, #ffcc00);
}

.activate i {
    color: white;
    margin-left: 7%;
}

.activate p {
    color: white;
}


/* -------------------------------- DASHBOARD -------------------------------------- */

.main-content {
    width: 85%;
    height: 95vh;
    background-color: rgb(78, 78, 122);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-notificacao {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
}

.perfil-notificacao i {
    font-size: 20px;
    color: rgb(117, 117, 117);
    margin-right: 1%;
    cursor: pointer;
}

.profile-icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 90%;
    gap: 5%;
    cursor: pointer;
}

.profile-img {
    width: 16%;
    height: 70%;
    border-radius: 50%;
    background-color: #454545;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-icone p {
    font-weight: 510;
    font-size: 14px;
    color: rgb(117, 117, 117);
    margin-right: 10%;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
    background-color: rgb(236, 240, 246);
    display: flex;
    flex-direction: column;
}

.kpi-field {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.kpi {
    width: 21.3%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.kpi .icone {
    width: 22%;
    height: 47%;
    border-radius: 50%;
    margin-left: 2%;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#maquinas-criticas {
    background-color:rgb(205, 0, 0);
}

#taxa-uptime {
    background-color: rgb(0, 171, 3);
}

.kpi .icone i {
    font-size: 20px;
    color: white;
}

.kpi .infos {
    width: 65%;
    height: 50%;
    align-items: self-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    line-height: 4.5vh;
}

.uso-componente {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 17%;
    width: 100%;
    height: 60%;
}

#seta-uso {
    margin-top: 1%;
    margin-right: 11%;
    font-weight: 750;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

#seta-uso:hover {
    transform: scale(1.2);
}


.kpi .infos .dado-kpi {
    font-size: 30px;
    font-weight: 700;
    color: #242424;
}

.kpi .infos .title-kpi {
    font-size: 15px;
    font-weight: 500;
    color: rgb(107, 107, 107);
    margin-left: 8%;
}

.dado-kpi {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 34px;
    font-weight: 600;
}

/* -------------------------------- GRÁFICO 1 -------------------------------------- */


.grafico-cima {
    width: 100%;
    height: 36%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.monitoramento-dia {
    width: 69.7%;
    height: 92%;
    margin-left: 1.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.titulo-monitoramento-dia {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5%;
}

.titulo-monitoramento-dia select {
    width: 13%;
    background-color: #f1a500;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 540;
    font-size: 12px;
    margin-right: 4.1%;
}

.titulo-monitoramento-dia p {
    margin-left: 2.9%;
    font-size: 17px;
    font-weight: 530;
    color: #383838;
}

.parametros {
    width: 24%;
    height: 100%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4%;
}

.param {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.quadrado-verde {
    width: 23%;
    height: 58%;
    border-radius: 50%;
    background-color: green;
}

.quadrado-amarelo {
    width: 23%;
    height: 58%;
    border-radius: 50%;
    background-color: rgb(255, 242, 0);
}

.quadrado-vermelho {
    width: 23%;
    height: 58%;
    border-radius: 50%;
    background-color:rgb(229, 0, 0);
}

.parametros p {
    font-size: 10px;
}

.grafico-monitoramento {
    width: 99%;
    height: 76%;
    margin-left: 2%;
}

.grafico-monitoramento canvas {
    margin-top: 2%;
    margin-right: 3%;
}

.painel-alertas {
    width: 21.3%;
    height: 92%;
    margin-right: 1.5%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-painel-alertas {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 530;
    color: #383838;
    margin-top: 3.2%;
}

.titulo-painel-alertas p {
    margin-top: 2.5%;
    font-size: 17px;
    font-weight: 530;
    color: #383838;
}

.labelsAlertas {
    margin-top: 2.3%;
    color: #ff000090;
}

.alertas {
    overflow-y: auto;
    height: 62%;
}

.alertas::-webkit-scrollbar {
    width: 6px;
}

.alertas::-webkit-scrollbar-track {
    background: transparent;
}

.alertas::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.labelsAlertas {
    margin-left: 3%;
}

.labelsAlertas #tipo {
    margin-right: 14%;
}

.labelsAlertas #nivel {
    margin-right: 100%;
}

.labelsAlertas #status {
    margin-right: 35%;
}

.labelsAlertas,
.lista-alertas {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

.labelsAlertas h3 {
    font-weight: 520;
    font-size: 10px;
    color: #525252;
}

.lista-alertas h3 {
    font-size: 9px;
    color: #333;
}

.lista-alertas #taxa {
    color: rgb(215, 0, 0);
    font-weight: 750;
}

.labelsAlertas {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.lista-alertas {
    border-bottom: 1px solid #eee;
}

/* ------------------- GRÁFICO 2 ------------------------------ */

.grafico-baixo {
    width: 100%;
    height: 36%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.9%;
}

.falha-por-componente {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.titulo-falha-componente {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.titulo-falha-componente p {
    margin-left: 4.7%;
    font-size: 17px;
    font-weight: 530;
    color: #383838;
    margin-top: 2.7%;
}

.grafico-falha-por-componente {
    width: 100%;
    height: 80%;
}

.grafico-falha-por-componente canvas {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 4%;
}

.disponibilidade-maquinas {
    width: 21.5%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.disponibilidade-maquinas .titulo-disponibilidade-maquinas {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.disponibilidade-maquinas .titulo-disponibilidade-maquinas p {
    font-size: 15px;
    font-weight: 530;
    color: #383838;
    margin-top: 5.7%;
}

.disponibilidade-maquinas .grafico-disponibilidade-maquinas {
    width: 100%;
    height: 80%;
}

.disponibilidade-maquinas .grafico-disponibilidade-maquinas canvas {
    margin-top: 3%;
    margin-right: 4%;
    margin-bottom: 7%;
}

.ranking-criticidade {
    width: 21.5%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.titulo-ranking-criticidade {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo-ranking-criticidade p {
    margin-top: 3%;
    font-size: 15px;
    font-weight: 530;
    color: #383838;
}

.grafico-ranking-criticidade {
    width: 100%;
    height: 78%;
}

.grafico-ranking-criticidade canvas {
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 1%;
}