@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins;
}

:root {
    --cor-branco: #F9FAFB;
    --cor-critico: #ea0303;
    --cor-atencao: #ffd630;
    --cor-estavel: #00AB03;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 231, 237);
    overflow-y: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #e1e1e138;
    backdrop-filter: blur(1.5px);
    display: none;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
}

/* -------------------------------- SIDE BAR -------------------------------------- */


.side-bar {
    width: 15%;
    height: 100%;
    background-color: var(--cor-branco);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 10%;
    background-color: var(--cor-branco);
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin-top: 3%;
    width: 80%;
    height: 55%;
    margin-right: 3%;
    object-fit: cover;
    filter: contrast(1.1) brightness(0.98);
}

.links {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 25px;
}

.icone-links {
    width: 75%;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 6%;
    color: rgb(71, 71, 71);
    cursor: pointer;
    background: linear-gradient(90deg, #FF3700, #ffcc00);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.5s ease-in-out, color 0.3s ease-in-out;
    border: none;
}

.links button:nth-of-type(1) {
    font-size: 16px;
}

.links a:hover,
.links button:hover {
    background-size: 100% 100%;
    color: var(--cor-branco);
}

.links i {
    margin-left: 7%;
}

.activate {
    width: 75%;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 6%;
    background: linear-gradient(90deg, #FF3700, #ffcc00);
}

.activate i {
    color: var(--cor-branco);
    margin-left: 7%;
}

.activate p {
    color: var(--cor-branco);
}

.dropdown-container {
    position: relative;
    width: 75%;
    height: 6vh;
}

.dropdown-container .dropbtn {
    display: flex;
    align-items: center;
    gap: 6%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-container .dropbtn:hover {
    background-size: 100% 100%;
    color: var(--cor-branco);
    background: linear-gradient(90deg, #FF3700, #ffcc00);
}

.dropdown-content {
    display: none;
    /* escondido por padrão */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    flex-direction: column;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    display: block;
}

.dropdown-content a:hover {
    background-size: 100% 100%;
    color: var(--cor-branco);
    background: linear-gradient(90deg, #FF3700, #ffcc00);
}

.dropdown-container.active .dropdown-content {
    display: flex;
    margin-top: 5px;
}

.dropdown-container.active .dropdown-content a {
    font-size: 14px;
}

.dropdown-container.active .dropdown-content a:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-container.active .dropdown-content a:nth-of-type(6) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-chevron-down {
    transition: transform 0.3s ease;
}

.dropdown-container.active .fa-chevron-down {
    transform: rotate(180deg);
}

.modal-logout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23%;
    height: 30%;
    background-color: var(--cor-branco);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.174);
    z-index: 11;
}


.icone-alerta {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-alerta i {
    font-size: 55px;
    background: linear-gradient(90deg, #FF3700, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.mensagem-logout {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.mensagem-logout p:nth-of-type(1) {
    font-size: 17px;
    font-weight: 650;
}

.mensagem-logout p:nth-of-type(2) {
    font-size: 12px;
    font-weight: 500;
    color: #535353;
}

.btns-logout-modal {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.btns-logout-modal button {
    width: 38%;
    height: 70%;
    margin-bottom: 2%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btns-logout-modal button:nth-of-type(1) {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(215, 215, 215);
    font-weight: 550;
    color: #3f3f3f;
    font-size: 14px;
}

.btns-logout-modal button:nth-of-type(2) {
    background: linear-gradient(90deg, #FF3700, #ffa200);
    font-weight: 550;
    color: white;
    font-size: 14px;
}

/* ---------------- Top Bar ---------------- */

.main-content {
    width: 85%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-notificacao {
    width: 100%;
    height: 6.9vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--cor-branco);
    border-top-right-radius: 15px;
}

.perfil-notificacao i {
    font-size: 20px;
    color: rgb(117, 117, 117);
    margin-right: 1%;
    cursor: pointer;
}

.profile-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 90%;
    gap: 5%;
    cursor: pointer;
}

.profile-icone a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.profile-img {
    width: 16%;
    height: 70%;
    border-radius: 50%;
    background-color: #454545;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-icone p {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

/* ---------------- Conteúdo Dashboard ---------------- */

.dashboard-content {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
    background-color: rgb(229, 232, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2%;
}

/* Título Escola */

.titulo-escola {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3%;
}

.texto-titulo-nome-escola {
    width: 16%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.062);
    margin-left: 3%;
}

.texto-titulo-nome-escola p {
    text-transform: uppercase;
    font-weight: 550;
    color: #454545;
}

.texto-titulo-desempenho {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.062);
    gap: 1.2%;
    margin-right: 38%;
}

.texto-titulo-desempenho p {
    text-transform: uppercase;
    font-weight: 550;
    color: #f4f4f4;
}

/* KPIs */

.area-kpis {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.kpi {
    width: 22%;
    height: 90%;
    background-color: var(--cor-branco);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.034);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.espaco-icone-kpi {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-kpi {
    width: 67%;
    height: 55%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icone-kpi i {
    color: var(--cor-branco);
    font-size: 25px;
}


#kpi-usuario-online .icone-kpi i {
    font-size: 60px;
    color: #0101B8;
}


#kpi-solicitacoes .icone-kpi i {
    font-size: 60px;
    color: var(--cor-estavel);
}


#kpi-horario .icone-kpi {
    background-color: dimgrey;
}




#kpi-acesso .icone-kpi {
    background-color: rgb(58, 58, 58)
}



.infos-kpi {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.titulo-kpi {
    align-self: flex-start;
}

.titulo-kpi p {
    font-size: 1rem;
    font-weight: 520;
    color: #000000;
}

.dado-kpi p {
    font-size: 25px;
    font-weight: 650;
}

.titulo-kpi p {
    font-size: 15px;
    font-weight: 520;
    color: #000000;
}

/* ---------------- Parte Principal ---------------- */

.parte-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
    width: 98%;
}

.painel-grafico-geral {
    background-color: var(--cor-branco);
    width: 69%;
    height: 59.2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    margin-left: 2%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.034);
}

.painel-grafico-card {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.13);
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.painel-grafico-card h3 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
    color: #434343;


}




/* ---------------- Alertas ---------------- */

.painel-alertas {
    width: 22.5%;
    height: 64.5vh;
    border-radius: 10px;
    background-color: var(--cor-branco);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.034);
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.titulo-ultimos-alertas {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-ultimos-alertas p {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 700;
    color: #434343;
}

.alertas {
    width: 100%;
    height: 403px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

.card-alerta {
    min-height: 69px;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 230px;
    margin-left: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.card-alerta:hover {
    transform: scale(1.01);
}

.icone-card-alerta {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-alerta .fa-circle-exclamation {
    color: var(--cor-critico);
    font-size: 37px;
}

.card-alerta .fa-triangle-exclamation {
    color: var(--cor-atencao);
    font-size: 37px;
}

.infos-card-alerta {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos-card-alerta p:nth-of-type(1) {
    font-weight: 620;
}

.infos-card-alerta p:nth-of-type(2) {
    font-size: 13px;
    font-weight: 550;
}

.infos-card-alerta p:nth-of-type(3) {
    font-size: 13px;
    font-weight: 600;
    color: #6e6e6e;
}


#graficoRanking {
    width: 200px;
    height: 200px;
}


#graficoTotalUsuarios {
    width: 90%;
    height: 200px;
}

#graficoRanking {
    margin-bottom: 45px;
}

.card-acesso {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 12px 16px;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid #0101B8 !important;
}

.card-left {
    display: flex;
    align-items: center;
    gap: 12px;
}


.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome {
    font-weight: 700;
    font-size: 1.1em;
    margin: 0;
}

.cargo {
    font-size: 0.9em;
    opacity: 0.8;
    margin: 0;
}

.hora {
    font-weight: 700;
    font-size: 1.2em;
    min-width: 50px;
    text-align: right;
}